{% extends 'base.html.twig' %}

{% block title %}Bilan{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


<div class="example-wrapper">
    <h1>Bilan {{ ga_societe }}</h1>

La page du bilan de l'association

<table class="table">
    <tr class="table-primary">


        <td>Date</td>
        <td>Montant</td>
        <td>Client</td>
        <td>Document</td>
        <td>Commentaire</td>
    
    </tr>

{% set somme = 0 %}
{% set code = false %}

{% for ecriture in lastcomptes %}
    <tr >
                <td>{{ ecriture.Date|date("d/m/Y") }}</td>
                <td>{{ ecriture.Montant }}</td>
                <td>{{ ecriture.Client }}</td>
                <td><a href={{ '/images/archives/' ~ ecriture.fichier}} target=_blank >{{ ecriture.fichier}}</a></td>
                <td>{{ ecriture.Commentaire }}</td>
                {% set somme = somme+ ecriture.Montant %}
    
    </tr>
    {% set code =  ecriture.Codecompta  %}
{% endfor %}

</table>
<b>{{ code }}</b> -  Total Bilan  : {{ somme }} Euros


</div>
{% endblock %}
