{% extends 'base.html.twig' %}

{% block title %}Bilan {{ annee }}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
{% set somme = 0 %}
{% set sommetotale = 0 %}
{% set classe = false %}
{% set classeid = false %}
{% set sommepointe = 0 %}
{% set sommepointetotal = 0 %}

<div class="example-wrapper">
    <h1>Bilan {{ ga_societe }} {{ annee }}</h1>

La page du bilan de l'association<br>
<form name="bilan" method="post" >
       <select id="annee" name="annee" class="form-control" onchange="this.form.submit()">
       <option value="2020" {% if annee == '2020' %} selected {% endif %}>2020</option>
       <option value="2021" {% if annee == '2021' %} selected {% endif %}>2021</option>
       <select>
</form>

<table class="table">
    <tr class="table-primary">

        <td>Code compta</td>
        <td>Montant</td>
        <td>Dont Pointé</td>
    
    </tr>

{% for ecriture in lastcomptes %}
    {% if ecriture.Codecompta is not same as classe %} 
        {% if classe %}
        <tr> <td> <a href="{{path('bilandetail',{'id' : classeid })}} "> {{ classe }}  </a></td> 
        <td> {{ somme }}</td> 
        <td> {{ sommepointe }}</td> 
        </tr>
        {% endif %}

    {% set classe = ecriture.Codecompta  %} 
    {% set classeid = ecriture.Codecompta.id %}
    {% set somme = 0 %}
    {% set sommepointe = 0 %}
    {% set somme = somme+ ecriture.Montant %}
                {% if ecriture.Payement %}
                {% set sommepointe = sommepointe+ ecriture.Montant %}
                {% set sommepointetotal = sommepointetotal+ ecriture.Montant %}
                {% endif %}
    
    {% else  %}
    {% set somme = somme+ ecriture.Montant %}
                {% if ecriture.Payement %}
                {% set sommepointe = sommepointe+ ecriture.Montant %}
                {% set sommepointetotal = sommepointetotal+ ecriture.Montant %}
                {% endif %}
    {% endif  %}


    {% set sommetotale = sommetotale+ ecriture.Montant %}

{% endfor %}

        <tr> <td><a  href="{{path('bilandetail',{'id' : classeid })}} "> {{ classe }}  </a></td> 
        <td> {{ somme }}</td> 
        <td> {{ sommepointe }}</td> </tr>



</table>
Bilan Pointé : {{ sommepointetotal }} Euros<br>
En Attente de pointage {{sommetotale -sommepointetotal }} Euros 
</div>
{% endblock %}
