{% extends 'base.html.twig' %}

{% block title %}Liste{% endblock %}

{% block body %}
{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{message}}
    </div>
{% endfor %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div >
    <h1>Liste des Ecritures</h1>

    <a class="btn btn-success" href="{{path('administrationajout')}}">Ajouter</a>
<table class="table">
    <tr class="table-primary">

        <td>Date</td>
        <td>Montant</td>
        <td>Code compta</td>
        <td>Client</td>
        <td>Document</td>
        <td>Commentaire</td>
        <td>Valideur</td>
        <td>Actions</td>

    </tr>

    <tr>

            {% for ecriture in lastcomptes %}
    <tr >
                <td>{{ ecriture.Date|date("d/m/Y") }}</td>
                <td>{{ ecriture.Montant }}</td>
                <td>{{ ecriture.Codecompta }}</td>
                <td>{{ ecriture.Client }}</td>
                <td><a href={{ '/images/archives/' ~ ecriture.fichier}} target=_blank >{{ ecriture.fichier}}</a></td>
                <td>{{ ecriture.Commentaire}}</td>
                <td>{{ ecriture.Comptable }}</td>

                        
            <td>
                <a class="btn btn-secondary" href="{{path('administrationcomptemodification',{'id' : ecriture.id })}}">Modifier</a>
                
                <form method="POST" style="display:inline-block" action="{{path('administrationcomptedelete',{'id' : ecriture.id })}}" onsubmit="return confirm('Confirmer la suppression?')">
                <input type="hidden" name="_token" value="{{csrf_token('SUP' ~  ecriture.id )}}">
                <input type="submit" class="btn btn-danger" value="supprimer"  >
                </form> 
            </td>
    
    </tr>
{% endfor %}

</table>



</div>
{% endblock %}
